@import "tailwindcss";

/* Pengaturan dasar */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #0a0a0a;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
  background-size: 40px 40px;

  /* Gaya tambahan agar teks putih terlihat di tengah */
  color: #191919;
  font-family: sans-serif;
}

nav {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 82px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Main */
main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;

  /* Membuat konten dan sidebar berdampingan */
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 20px;
}

/* Konten utama */
section {
  /* background-color: #18181b; */
  padding: 25px;
  border-radius: 8px;
}

/* Artikel */
article {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

article:last-child {
  border-bottom: none;
}

article h3 {
  margin-bottom: 8px;
}

/* Footer */
footer {
  background-color: #1e293b;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  bottom: 0px;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Tampilan untuk layar kecil */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  main {
    grid-template-columns: 1fr;
  }

  aside {
    order: 2;
  }
}
